* {
  margin: 0px;
}

nav {
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-image: linear-gradient(180deg, red, yellow);
  box-shadow: 0px 10px 8px #888888;
  margin-bottom: 30px;
}

.navbar-img {
  width: 160px;
}

.searchbar-container {
  display: flex;
  flex-direction: column;
  margin: 0px auto;
  padding: 0 20px;
  align-items: center;
}

.searchbar {
  background-color: white;
  margin-right: 20px;
  display: flex;
}

.searchbar input {
  padding: 10px;
  box-shadow: 0px 2px 2px (0, 0, 0, 0.25);
  border-radius: 10px;
  border: gray 1px solid;
  margin-right: 10px;
}

.searchbar-btn button {
  background-color: #0e6f9f;
  border: none;
  border-radius: 10px;
  height: 44px;
  color: white;
  padding: 10px 12px;
}

.searchbar-btn button:active {
  background-color: #2e6f9f;
}

.poke-gif {
  width: 150px;
  margin: 20px 0px;
  margin-bottom: 20px;
  border-radius: 20px;
}

.App {
  text-align: center;
}
